body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    font-size: 50px;
    font-family: "Kanit";
    margin-top: 10px;
}

section#rulesContainer {
    display: none;
}

button#close {
    font-family: "kanit";
    font-size: 12px;
    height: 30px;
    border-radius: 5%;
    margin-bottom: 20px;
}

button#close:hover {
    transform: scale(1.05);
    transition-delay: 150ms ease-in;
    border-radius: 5%;
    background-color: #E5E4E2;
}

div#rules {
    font-family: "kanit";
    font-size: 20px;
}

#wholeBoard {
    display: flex;
}

#mainBoard {
    height: 900px;
    width: 500px;
    background-color: blanchedalmond;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#colorBoard {
    height: 900px;
    width: 150px;
    background-color: burlywood;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    order: -2;
}

#indicatorBoard {
    height: 900px;
    width: 150px;
    background-color: burlywood;
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#holes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#colorBoardHoles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.colorHole {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid;
    border-color: black;
}

.ch0 {
    background-color: #DC143C;
}

.ch0:hover {
    transform: scale(1.1);
    transition-delay: 150ms ease-in;
    background-color: #C41E3A
}

.ch0:disabled {
    background-color: #DC143C;
    transform: scale(1);
}

.ch1 {
    background-color: #89CFF0;
}

.ch1:hover {
    transform: scale(1.1);
    transition-delay: 150ms ease-in;
    background-color: deepskyblue
}

.ch1:disabled {
    background-color: #89CFF0;
    transform: scale(1);
}

.ch2 {
    background-color: #FFEA00;
}

.ch2:hover {
    transform: scale(1.1);
    transition-delay: 150ms ease-in;
    background-color: #FDDA0D
}

.ch2:disabled {
    background-color: #FFEA00;
    transform: scale(1);
}

.ch3 {
    background-color: #FAA0A0;
}

.ch3:hover {
    transform: scale(1.1);
    transition-delay: 150ms ease-in;
    background-color: palevioletred
}

.ch3:disabled {
    background-color: #FAA0A0;
    transform: scale(1);
}

.ch4 {
    background-color: #0BDA51;
}

.ch4:hover {
    transform: scale(1.1);
    transition-delay: 150ms ease-in;
    background-color: #4CBB17;
}

.ch4:disabled {
    background-color: #0BDA51;
    transform: scale(1);
}

.ch5 {
    background-color: darkorchid;
    /* margin-bottom: 15px; */
}

.ch5:hover {
    transform: scale(1.1);
    transition-delay: 150ms ease-in;
    background-color: purple;
    /* margin-bottom: 15px; */
}

.ch5:disabled {
    background-color: darkorchid;
    transform: scale(1);
    /* margin-bottom: 15px; */
}

.ch6 {
    background-color: orange;
}

.ch6:hover {
    transform: scale(1.1);
    transition-delay: 150ms ease-in;
    background-color: darkorange;
}

.ch6:disabled {
    background-color: orange;
    transform: scale(1);
}

.ch7 {
    background-color: white;
    margin-bottom: 15px;
}

.ch7:hover {
    transform: scale(1.1);
    transition-delay: 150ms ease-in;
    background-color: #E5E4E2;
    margin-bottom: 15px;
}

.ch7:disabled {
    background-color: white;
    transform: scale(1);
    margin-bottom: 15px;
}

button#gameRules {
    font-family: "kanit";
    order: -3;
    margin-top: 50px;
    font-size: 18px;
    height: 35px;
    border-radius: 5%;
}

button#gameRules:hover{
    transform: scale(1.05);
    transition-delay: 150ms ease-in;
    border-radius: 5%;
    background-color: #E5E4E2;
}

button#newGame {
    order: -1;
    margin-bottom: auto;
    margin-top: 75px;
    font-size: 22px;
    height: 55px;
    background-color: blanchedalmond;
    font-family: "kanit";
    border-radius: 5%;
}

button#newGame:hover {
    transform: scale(1.05);
    transition-delay: 150ms ease-in;
    background-color: bisque;
    border-radius: 5%;
}

button#submit {
    order: -1;
    margin-bottom: 50px;
    font-size: 18px;
    height: 35px;
    font-family: "kanit";
    border-radius: 5%;
}

button#submit:hover {
    transform: scale(1.05);
    transition-delay: 150ms ease-in;
    border-radius: 5%;
    background-color: #E5E4E2;
}

#solutionHoles {
    display: flex;
    gap: 15px;
    padding-bottom: 30px;
    padding-top: 15px;
    order: 1;
}

#solutionHoles > div {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: solid;
    border-color: black;
    background-color: silver;
}
.holeLine {
    display: flex;
    gap: 15px;
    padding-top: 15px;
}

.holeLine > div {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: solid;
    border-color: black;
    background-color: #404040;
}

.indicatorHoleLine > div {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid;
    border-color: black; 
    background-color: #404040;
}

.indicatorHoleLine {
    display: flex;
    gap: 5px;
    padding-top: 40px;
}

#indicatorBoardHoles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}